
            .wrapper {
                /* display: flex; */
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55px;
            }
            .float-container {
                border: 3px solid #fff;
                padding: 20px;
            }

            .float-child-big {
                width: 1100px;
                float: left;
                padding: 10px;
                border: 2px solid black;
            }  

            .float-child-small {
                width: 10%;
                float: left;
                padding: 10px;
                /* border: 2px solid black; */
            }  
			
			.pan rect,
			.zoom rect {
				fill: black;
				opacity: 0.2;
                cursor: pointer;
			}
			
			.zoom rect {
				rx: 5;  /* Rounded corners */
				ry: 5;
			}

			.pan text,
			.zoom text {
				fill: black;
				font-size: 18px;
				text-anchor: middle;
			}

			.pan:hover rect,
 			.pan:hover text,
			.zoom:hover rect,
 			.zoom:hover text {
				fill: blue;
                cursor: pointer;
			}
            /* Style for Custom Tooltip */
            div.tooltip {   
                position: absolute;
                text-align: center;
                /* width: 60px;
                height: 68px;*/
                padding: 2px;
                font: 8px sans-serif;
                background: white;
                border: 0.5px; 
                border-radius: 8px;    
                pointer-events: none; 
            }